
h1{
    color: yellow;
}
td{
    height: 50px;
    width: 50px;
}
#black{
    background: black;
}
#white{
    background: white;
}
table{
    border:1px solid red;
    margin: auto;
}
td:hover{
    background: red;
}
h1{
    text-align: center;
}